@import '../../../shared/global.colors.scss';

main {

  h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: $white;
  }
  
  .clubs_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
