<main>
  <h2>Top 30 players</h2>
  <div *ngIf="isLoading | async; else players_container" class="loading">
      <app-loader></app-loader>
  </div>
  <ng-template #players_container>
    <pagination-controls
      class="pagination_controls"
      directionLinks="false"
      (pageChange)="p = $event"
    ></pagination-controls>
    <div class="players_list">
      <ng-container
        *ngFor="
          let player of players
            | async
            | paginate: { itemsPerPage: 15, currentPage: p }
        "
      >
        <app-player-card [player]="player"></app-player-card>
      </ng-container>
    </div>
  </ng-template>
</main>
